<!doctype html>
<html lang="en" ng-app="mainApp">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./vendors/normalize.css/normalize.css">
    <link rel="stylesheet" href="./assets/styles/stylesheet.css">

    <script type="text/javascript" src="./vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="./vendors/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="./assets/scripts/app.min.js"></script>
  </head>

  <body>
    <header>
      <h1>Lawler House</h1>
      <nav><ul>
        <li><a href="/#/home">Home</a></li>
        <li><a href="/#/history">History</a></li>
        <li><a href="/#/architect">Architect</a></li>
        <li><a href="/#/neighborhood">Neighborhood</a></li>
        <li><a href="/#/tour">Tour</a></li>
        <li><a href="/#/contact">Contact Us</a></li>
      </ul></nav>
  </header>

    <div ng-view></div>
  </body>


</html>
