<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./assets/styles/stylesheet.css">

    <script type="text/javascript" src="./vendors/angular/angular.min.js"></script>
    <script type="text/javascript" src="./vendors/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="./assets/scripts/app.min.js"></script>
  </head>

  <body>
    <h1>546 Marshall</h1>

    <nav><ul>
      <li>history</li>
      <li>architect</li>
      <li>pictures and floorplan</li>
      <li>contact us</li>
    </ul></nav>
  </body>


</html>
